.ql-toolbar.ql-snow {
    display: none;

}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 1px solid #ccc;
}

.ql-container {
    font-family: 'Inter', sans-serif;
    @apply text-sm lg:text-base xl:text-lg
}

.ql-editor {
    @apply xl:p-24 lg:p-8;
    flex-grow: 1;
}